<div class="container mx-auto p-4">
  <h2 class="text-xl font-semibold mb-4"><%= @user.full_name.presence || @user.email %></h2>
  <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
    <div class="form-control mb-4">
      <%= f.label :role_id, 'Perfil', class: 'label' %>
      <%= f.select :role_id, @roles.map { |r| [r.name.humanize, r.id] }, include_blank: 'Sin perfil', class: 'select select-bordered w-full capitalize' %>
    </div>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  <% end %>
</div>
